@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333333;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #777777;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

#profile {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

#profile img {
  margin-right: 20px;
  border-radius: 50%;
}

#profile h1 {
  margin-top: 0;
}

#profile p {
  line-height: 1.5em;
}

#profile strong {
  font-size: 1.3em;
}

#profile ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

#profile ul li {
  padding-right: 20px;
}