@import "variables";
@import "typography";
@import "mixins";
@import "vendor/normalize";

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333333;
}

a {
  color: $info;
  text-decoration: none;

  &:hover {
    color: lighten($color: $info, $amount: 10%);
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint(lg) {
    max-width: 960px;
  }
}