@import "base";

#profile {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;

  @include breakpoint(sm) {
    flex-direction: column;
    padding-top: 25px;
  }

  img {
    margin-right: 20px;
    border-radius: 50%;

    @include breakpoint(sm) {
      align-self: center;
      margin-right: 0;
    }
  }

  h1 {
    margin-top: 0;
    color: $primary;

    @include breakpoint(sm) {
      text-align: center;
      margin-top: 20px;
    }
  }

  p {
    line-height: 1.5em;
    color: $secondary;

    strong {
      font-size: 1.5rem;
      color: $dark;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;

    @include breakpoint(sm) {
      flex-direction: column;
    }

    li {
      padding-right: 20px;

      @include breakpoint(sm) {
        padding-right: 0;
        margin-bottom: 10px;
      }
    }

    span {
      @include sr-only;
    }
  }

  &-email {
    a::before {
      @include icon-free;
      content: "\f0e0";
    }
  }

  &-github {
    a::before {
      @include icon-brand;
      content: "\f113";
    }
  }

  &-linkedin {
    a::before{
      @include icon-brand;
      content: "\f08c";
    }
  }
}