@import "base";

#profile {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;

  & span {
    @include sr-only;
  }
}

#profile img {
  margin-right: 20px;
  border-radius: 50%;
}

#profile h1 {
  margin-top: 0;
}

#profile p {
  line-height: 1.5em;
}

#profile strong {
  font-size: 1.3em;
}

#profile ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

#profile ul li {
  padding-right: 20px;
}